body, #page-not-found {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F5;
}

canvas {
  display: block;
  margin-bottom: 0 auto;
  border: 1px solid #000;
}

h2 {
  font-family: 'VT323', monospace;
}

#page-not-found {
  flex-direction: column;
  background-color: #FFF;
}